MAGAZIN { 
   display: block;
   font-size: 1.2rem;
   margin-top: 50px;
   
} 

id {
    text-align: center;
    display: block;
}

NAME {
    text-align: center;
    display: block;
    font-size: 1.4rem;
    border-bottom: solid 2px;
}

device {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 32px;
    margin-top: 32px;
    border: solid;
    display: inline-block;
    background-color: #eeeeee;

} 

autor { 
    text-align: center;
    display: block;
    border: 1px;

} 

cvet { 
    margin-top: 10px;
    text-align: center;
    display: block;
    border: 1px;

} 

configur { 
    text-align: center;
    display: block;
    border: 1px;

} 

cena { 
    margin-bottom: 25px;
    text-align: center;
    display: block;
    border: 1px;

}

god { 
    text-align: center;
    display: block;
    border: 1px;

}