.imgListBlocks {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 25px;
    height: 100px;
    background-color: #dddddd;
    border-radius: 15px;
    width: 400px;
    margin: 5px;
}

.imgBlock {
    height: 94%;
    width: 34%;
    border-radius: 15px;
    margin: 5px 5px 5px 5px;
    transition: 0.7s;
}
.imgBlock_1 {
    background: url('../img/card_apple_watch_series_9.jpg') center center/cover no-repeat;
}
.imgBlock_2 {
    background: url('../img/card_apple_watch_series_9_front.jpg') center center/cover no-repeat;
}
.imgBlock_3 {
    background: url('../img/card_apple_watch_series_9_band.jpg') center center/cover no-repeat;
}

.imgBlockAlt {
    height: 98%;
    width: 38%;
    border-radius: 15px;
    margin: 1px 5px 5px 5px;
    transition: 0.7s;
}

.imgResult {
    display: flex;
    justify-content: center;
    height: 420px;
}
.imgResultBlock {
    margin-top: 1%;
    height: 94%;
    width: 45%;
    background: url('../img/card_apple_watch_series_9.jpg') center center/cover no-repeat;
    border-radius: 25px;
    transition: 0.7s;
}

.imgSection {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    vertical-align: middle;
}

.imgCardBlock {
    display: inline-block;
    width: 55px;
    margin-left: 20px;
    height: 55px;
}

.imgResultBlock {
    height: 400px;
    width: 575px;
    margin: 20px;
    margin-top: 60px;
    background-color: #000;
    border-radius: 15px;
}

.imgDescr {
    display: inline-block;
    margin: 0% 0 0 68%;
    height: 500px;
    width: 40%;
    border-radius: 15px;
}
.imgDescr p {
    margin-top: 30px;
    line-height: 2rem;
}
